.passwordText{
    font-weight: 600;
    color: #002333;
    text-transform: unset;
}
.yourpasswordText{
    font-size: 14px;
    font-weight: 500;
    color: #002333;
    text-transform: unset;
}

.iconCheckCircle{
    font-size: 38px !important;
    color: #03BD79 !important;
}