.no-groups-img{
    width: 60% !important;
}
.no-groups-text{
    color: #C4C4C4;
    font-size: 20px;
}
.dropdown>ul>li:hover{
    background-color:rgba(60, 97, 173, 0.25);
}

.dropdown a:hover{ 
    color:#000000;
}

.dropdown>ul>li>a{
    padding: 2px 13px;
    display: block;
}
.dropdown li {
     padding: unset; 
}