<div class="col-sm-12 dashboard">
    <div class="row">
        <ngx-spinner bdOpacity=0.4 bdColor="rgba(51,51,51,0.42)" size="medium" color="#2457c7" type="ball-spin-fade"
            [fullScreen]="true">
            <p style="color: white"> Loading... </p>
        </ngx-spinner>
        <div class="col-sm-3 sidenav p-0">
            <app-side-bar style="width: 100%;"></app-side-bar>
        </div>
        <div class="col-sm-9 main">
            <div class="col-12 top pt-1 p-0">
                <app-header-after-login></app-header-after-login>
            </div>
            <div class="col-12 current_plan pt-1 p-0">
                <div class="col-12 p-0">
                    <h5 class="text-capitalize ml-3 bold-letter">Plan And Billing</h5>
                    <hr>
                </div>
                <div class="row mb-4">
                    <div class="col-6">
                        <h6 class="bold-letter">Current Plan</h6>
                    </div>
                    <div *ngIf="billingIdBollean == false" class="col-6 text-right">
                        <a [attr.href]="upgradeURL"><button type="button" class="billing-Upgrade-button btn">UPGRADE PLAN</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <div class="row">
                            <div class="col-2 p-0">
                                <img class="user_profile mr-2 imgBilling" src="assets/images/blank.jpeg" />
                            </div>
                            <div class="col-9 p-0 pt-3 starter">
                                <h4 *ngIf="billingId == '1'" class="bold-letter">Starter (Monthly)<i class="no-bold-letter" *ngIf="trial == '1'"> 7 Day Free Trial</i>
                                </h4>
                                <h4 *ngIf="billingId == '2'" class="bold-letter">Pro (Yearly)<i class="no-bold-letter" *ngIf="trial == '1'"> 7 Day Free Trial</i>
                                </h4>
                                <h4 *ngIf="billingId == '3'" class="bold-letter">Lifetime (50 Years)<i class="no-bold-letter" *ngIf="trial == '1'"> 7 Day Free Trial</i>
                                </h4>
                                <a [attr.href]="upgradeURL">See plan Details</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
                <section class="plans">
                    <div class="pricing">
                        <div class="container">
                            <div class="row">                                
                                <div class="col-md-4 col-sm-4 col-12 columns">
                                    <ul class="pp-pricing-table-features">
                                        <ng-container *ngFor="let plan_Features of planFeatures;let i=index">
                                        <li *ngIf="i == 0 || i == 1 || i== 2 || i== 3">
                                            <div class="row">
                                                <div class="col-md-1 col-sm-1 col-1 p-0">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="col-md-11 col-sm-11 col-11 p-0">
                                                    {{plan_Features}}
                                                </div>
                                            </div>
                                        </li>
                                        </ng-container>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-sm-4 col-12 columns">
                                    <ul class="pp-pricing-table-features">
                                        <ng-container *ngFor="let plan_Features of planFeatures;let i=index">
                                        <li *ngIf="i == 4 || i == 5 || i== 6 || i== 7">
                                            <div class="row">
                                                <div class="col-md-1 col-sm-1 col-1 p-0">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="col-md-11 col-sm-11 col-11 p-0">
                                                    {{plan_Features}}
                                                </div>
                                            </div>
                                        </li>
                                        </ng-container>
                                    </ul>
                                </div> 
                                <div class="col-md-4 col-sm-4 col-12 columns">
                                    <ul class="pp-pricing-table-features">
                                        <ng-container *ngFor="let plan_Features of planFeatures;let i=index">
                                        <li *ngIf="i == 8 || i == 9 || i== 10">
                                            <div class="row">
                                                <div class="col-md-1 col-sm-1 col-1 p-0">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="col-md-11 col-sm-11 col-11 p-0">
                                                    {{plan_Features}}
                                                </div>
                                            </div>
                                        </li>
                                        </ng-container>
                                    </ul>
                                </div>                                                               
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <div *ngIf="billingIdBollean == false" class="row">
                    <div class="col-12">
                        <h5 class="text-capitalize ml-3"><b>Billing Cycle</b></h5>
                        <h6 *ngIf="billingId == '1'" class="ml-3 mt-3"><b>Monthly</b><span *ngIf="trial == '1'" class="spn"><i> {{dayleft}} Days Left In Free Trial</i></span>
                        </h6>
                        <h6 *ngIf="billingId == '2'" class="ml-3 mt-3"><b>Yearly</b><span  *ngIf="trial == '1'" class="spn"><i> {{dayleft}} Days Left In Free Trial</i></span>
                        </h6>
                    </div>
                </div>
                <div *ngIf="billingIdBollean == false" class="row mt-2">
                    <div class="col-5">
                        <h6 class="ml-3 mt-2"><b>Next Payment: {{planDetail.price}} On {{expireDate}}</b></h6>
                    </div>
                    <div class="col-7 text-right">
                        <a [attr.href]="upgradeURL"><button type="button" class="btn btn-primary save">{{planDetail.save_text}}</button></a>
                        <a [attr.href]="upgradeURL"><button type="button" class="btn btn-primary switch_billing">SWITCH BILLING CYCLE</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>