.no-leads-bottom-text{
    color: #6A6363;
    opacity: 0.8;

}
.overview h4{color: #000000;}
.leads-chart-container{ background-color: #FFFFFF;}

.leads-chart-container .left_sec h4{
    font-size: 22px;
    color: #000;
}
.view ul li{
    cursor: pointer !important;
}

.dropdown>ul>li:hover{
    background-color:rgba(60, 97, 173, 0.25);
}

.dropdown a:hover{ 
    color:#000000;
}
.dropdown>ul>li>a{
    padding: 2px 13px;
    display: block;
}
.dropdown li {
     padding: unset; 
}